:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  max-width: 800px;
  margin: 50px auto;
  font-family: var(--font-family);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 90px;
  font-weight: bold;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 22px;
  opacity: 0.7;
}

p {
  font-family: var(--secondary-font-family);
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
}

.navigation-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.contact-link {
  margin: 0 0 20px 0;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 10px;
}

.container-block {
  margin-top: 100px;
}
.btn-media {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 8px 40px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  color: var(--primary-color);
}
@media (max-width: 990px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .btn-media {
    display: flex;
    justify-content: center;
  }
}
